.file-container{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.all-uploads{
    color:rgb(195, 195, 193);
}
.all-center{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.carding{
    padding-top:10px;
    width:400px;
    height:auto;
    padding-left:10px;
    display:flex;
    flex-direction: row;
    background-image: linear-gradient(
        to right bottom,
        rgba(142, 197, 227, 0.482),
        rgba(227, 232, 240, 0.462)
      );
    margin-bottom:10px;
    box-shadow: 0 2px  10px rgb(125, 123, 123);
}
.flexi{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}
.flexi > div{
    padding-right:10px;
}
